<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body class="bg-zinc-900">
    <div class="w-full h-full text-white p-10">
        <div class="mb-10 flex gap-10">
            <a href="/read" class="text-blue-500">All users</a>
            <a href="/" class="text-blue-500">Home</a>
          </div>
        <h1 class="text-3xl tracking-tighter mb-3">Edit User</h1>
        <form action="/update/<%= user._id %>" method="post">
            <input type="input" placeholder="Name" class="bg-transparent px-5 py-2 border-2 border-zinc-700 rounded-lg outline-none" name="name" value="<%= user.name %>">
            <input type="input" placeholder="Email" class="bg-transparent px-5 py-2 border-2 border-zinc-700 rounded-lg outline-none " name="email" value="<%= user.email %>">
            <input type="input" placeholder="Image Url" class="bg-transparent px-5 py-2 border-2 border-zinc-700 rounded-lg outline-none " name="image" value=<%= user.image %>>
            <input type="submit" value="Update User" class="px-5 py-2 bg-yellow-500 rounded-lg" >
        </form>
    </div>
</body>
</html>